body{background-color: #064EF5;}
h1{font-family: cursive; font-size: 35px; color: #AC07FF;}
p{font-family: fantasy; font-size: 15px; color: #18F506;}
img{border-style: groove;border-width: 6px;border-color: #B41404; padding: 3px;}